<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-12 text-center padding-top background-one">
                <p>E-Product Shop</p>
            </div>
            <div class="col-lg-10 col-md-6 col-sm-12 padding-top background-two">
                <p>
                    <a class="p-2 text-white" href="{% url 'base' %}">Home</a>
                    <a class="p-2 text-white" href="{% url 'form' %}">New Product</a>
                </p>
            </div>
        </div>
    </div>
</header>